.border {
	font-size: 1rem;
	display: grid;
	place-items: center;
	/* min-height: 40px; */
	border: 4px solid;
	padding: 0.3rem;
}

.full {
	border-image: linear-gradient(45deg, rgb(248, 161, 0), rgb(255, 0, 0)) 1;
}

.sides {
	border-image: linear-gradient(to left, turquoise, greenyellow) 1 0;
}
.sides-2 {
	border-image: linear-gradient(to bottom, turquoise, greenyellow) 0 1;
}

.linear-repeating {
	border-width: 10px;
	border-image: repeating-linear-gradient(45deg, turquoise, pink 4%) 1;
}

.radial-repeating {
	border-width: 20px;
	border-image: repeating-radial-gradient(
			circle at 10px,
			turquoise,
			pink 2px,
			greenyellow 4px,
			pink 2px
		)
		1;
}